{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h1>Genres</h1>
          <p class="lead">Welcome to our genres visualizer!</p>

	<p>Input a word of your liking:</p>
            <form method=post>
              <div class="form-group">
        {% if word %}
        <input type="text" class="form-control" name="query" value="{{ word }}" maxlength=100>
        {% else %}
        <input type="text" class="form-control" name="query" placeholder="apple_SUBST" maxlength=100>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary" name="query" value = "submit">Submit!</button>
            </form>
    {% if error %}
        <p> {{ error }}</p>
    {% endif %}
     {% if result %}
      <h3><strong> Associates for <i>{{word}}</i> ({{ pos }}) across genres</strong> </h3>
        <div class="row">
    {% for model in result %}
        <div class="col-md-3">
        <h4><strong>{{ model }}</strong></h4>
        <ol>
        {% for res in result[model] if not "No results" in res and res != "Incorrect tag!" %}
        <li>
        {{ res.split('_')[0] }} {{ res.split('#')[1] }}
        </li>
        {% endfor %}
        </ol>
        </div>
    {% endfor %}
        </div>
{% endif %}
        
     
{% endblock %}
