{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h1>English language registers explorer</h1>
          <p class="lead">powered by word embeddings</p>

	<h2>Word analysis</h2>
	<p>Type your query word:</p>
            <form method=post>
              <div class="form-group">
        {% if word %}
        <input type="text" class="form-control" name="query" value="{{ word }}" maxlength=100>
        {% else %}
        <input type="text" class="form-control" name="query" placeholder="apple_SUBST" maxlength=100>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary" name="query" value = "submit">Submit!</button>
            </form>
    {% if error %}
        <p> {{ error }}</p>
    {% endif %}
     {% if result %}
      <h3>Words related to <a href="http://ltr.uio.no/embeddings/registers/word/{{ word+'_'+pos }}"><i>{{word}}</i></a> across different language registers</h3>
        <div class="row">
    {% for model in result %}
        <div class="col-md-3">
        <h4><strong>{{ models[model] }}</strong></h4>
        <ol>
        {% for res in result[model] if not "No results" in res and res != "Incorrect tag!" and not 'unknown' in res  %}
        <li>
        <a href="http://ltr.uio.no/embeddings/registers/word/{{ res[0] }}">{{ res[0].split('_')[0] }}</a> <small><i>{{ "{:.4f} ".format(res[1]) }}</i></small>
        </li>
        {% endfor %}
        {% if 'is unknown' in result[model][0] %}
        <i>{{ result[model][0] }}</i>
        
        {% endif %}
        </ol>
        </div>
    {% endfor %}
        </div>
         {% if distances %}
       <div class="row">
       <h3>Distances between <a href="http://ltr.uio.no/embeddings/registers/word/{{ word+'_'+pos }}"><i>{{word}}</i></a> meaning in particular registers and the whole corpus</h3>
    <p><i>1 - completely different, 0 - no difference</i></p>
     <big>
       <table>
           {% for key, value in distances %}
            <tr>
        <th> The whole BNC vs. {{ models[key] }} </th>
        <td> &nbsp;&nbsp;{{ "{:.2f} ".format(value) }} </td>
            </tr>
{% endfor %}
       </table>
       </big>
       </div>
         {% endif %}
{% endif %}
        
     
{% endblock %}
