{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h1>English language registers explorer</h1>
          <p class="lead">powered by word embeddings</p>
	<h2>Text analysis</h2>
	<p>Enter a single English sentence or a small text:</p>
            
            
            <form method=post id="textquery">
              <div class="form-group">
    {% if text %}
        <textarea form ="textquery" name="textquery" id="textquery" cols="45" rows=8 wrap="soft" required placeholder="{{ text }}" maxlength=10000></textarea>
        {% else %}
        <textarea form ="textquery" name="textquery" id="textquery" cols="45" rows=8 wrap="soft" required placeholder="Informant filled in the questionnaire." maxlength=10000></textarea>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary" name="textquery" value = "analyze">Analyze</button>
            </form>
    {% if error %}
        <p> {{ error }}</p>
    {% endif %}
     {% if result %}
      <h3>Language registers likelihood to produce this text (ranked by decreasing probability):</h3>
    <i>The closer log-likelihood values are to zero, the more probable is the register. For highly probable registers, the font size increases.</i>
    <big>
    <table width="80%">
    {% for element in result if element[0] != 'all' %}
    <tr>
    <td><span style="font-size: {{ (element[1]+100)|int }}px;">{{ models[element[0]] }}</span></td><td> {{ "{:.2f} ".format(element[1]) }}</td>
    </tr>
    {% endfor %}
    </table>
    </big>
    <h3>Explore words in your text (only content words are shown):</h3>
    <p>{{ text|wordcount }} words in total</p>
    
    {% for sentence in lemmas %}
    {% for lemma in sentence if lemma.split('_')[-1] in tags %}
    <a href="http://ltr.uio.no/embeddings/registers/word/{{ lemma }}" title="Explore {{ lemma }} across registers" alt="Explore {{ lemma }} across registers">{{ lemma }}</a>
    {% endfor %}
    <br/>
    {% endfor %}
    {% endif %}

{% endblock %}
